{php $copyright = m('common')->getCopyright(true)}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{if !empty($copyright) && !empty($copyright['title'])}{$copyright['title']}{/if}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A responsive, magazine-like website layout with a grid item animation effect when opening the content" />
    <meta name="keywords" content="grid, layout, effect, animated, responsive, magazine, template, web design" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="{php echo EWEI_SHOPV2_LOCAL}zhou/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{php echo EWEI_SHOPV2_LOCAL}zhou/fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{php echo EWEI_SHOPV2_LOCAL}zhou/css/style2.css" />
    <script src="{php echo EWEI_SHOPV2_LOCAL}zhou/js/modernizr.custom.js"></script>
</head>
